@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
    background-color: black;
    color: azure;
    font-size: 4em;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

a:link {
    color: azure;
    text-decoration: none;
}

a:visited {
    color: azure;
}

a:hover {
    text-shadow: -4px 0px 6px rgb(166, 255, 255), 0px -4px 6px rgb(166, 255, 255), 4px 0px 6px rgb(166, 255, 255), 0px 4px 6px rgb(166, 255, 255);
    transition: text-shadow 0.2s ease-in-out;
}

.pages {
    font-size: 0.5em;
}