@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-color: rgb(39, 39, 39);
    color: azure;
    font-size: 4em;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    animation: fadein 2s;
}

a:link {
    color: azure;
    text-decoration: none;
}

a:visited {
    color: azure;
}

a:hover {
    text-shadow: -4px 0px 6px azure, 0px -4px 6px azure, 4px 0px 6px azure, 0px 4px 6px azure;
    transition: text-shadow 0.2s ease-in-out;
}

.name {
    margin-top: 10vh;
}

.pages {
    margin-top: 10vh;
    display: inline-block;
    font-size: 0.5em;
    margin-bottom: 10vh;
}

.links img:hover {
    transition: filter 0.3s ease-in-out;
    filter: blur(1px);
}